@import 'src/styles/mixins';
@import 'src/tokens/sizes';

.container {
  @include centeringContainer;
}

.content {
  width: 300px;
  text-align: center;
}

.descriptionWrapper {
  margin-top: map-get($indent, 'xxs');
}

.linkWrapper {
  margin-top: map-get($indent, 'm');
  a {
    font-size: map-get($indent, 'xxxs');
  }
}
