$primary: #3369f3;
$secondary: #ffffff;
$disabled: #bdbdbd;
$label: #999999;
$error: #ff2f2f;

$primaryFont: #1e1e1e;
$secondaryFont: #999999;

$modalBackground: rgba(0, 0, 0, 0.4);

$sidebarBackground: #fbfbfb;
$secondaryInputBackground: #efefef;

$cardHoverBackground: #e4edfd;
$hrColor: #eaeaea;
$backgroundMessage: #f8f8f8;
$backgroundMyMessage: #e4edfd;
