$primary: #3369F3;
$secondary: #FFFFFF;
$disabled: #bdbdbd;
$label: #999999;
$error: #FF2F2F;

$primaryFont: #1E1E1E;
$secondaryFont: #999999;

$modalBackground: rgba(0,0,0,0.4);

$sidebarBackground: #FBFBFB;
$secondaryInputBackground: #EFEFEF;

$cardHoverBackground: #E4EDFD;
$hrColor: #EAEAEA;
$backgroundMessage: #F8F8F8;
$backgroundMyMessage: #E4EDFD;


